// do not serialize scratch sessions
 session_serialization false

// basic layout with ~/Dev as cwd and fastfetch on init
layout {
    cwd "Dev"
    pane {
        command "/opt/homebrew/bin/fish"
        args "--login"
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
