default_shell "/opt/homebrew/bin/fish"

session_serialization true
pane_viewport_serialization false

scrollback_editor "/opt/homebrew/bin/vim"
scroll_buffer_size 10000

copy_on_select true

default_layout "compact"
theme "tokyo-night-storm"
simplified_ui true
ui {
    pane_frames {
        hide_session_name false
        rounded_corners true
    }
}

keybinds clear-defaults=true {
    normal {
        // go into session mode
        bind "Ctrl s" { SwitchToMode "Session"; }

        // move between panes
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        // move between tabs
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
    session {
        // session
        bind "d" { Detach; }
        bind "q" { Quit; }

        // session manager
        bind "m" {
            LaunchOrFocusPlugin "session-manager" {
                move_to_focused_tab true
                floating true
            };
            SwitchToMode "Normal"
        }

        // manage panes
        bind "c" { NewPane; }
        bind "s" { NewPane "Down"; }
        bind "v" { NewPane "Right"; }
        bind "x" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; }

        // move between panes
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }

        // move panes
        bind "Ctrl h" { MovePane "Left"; }
        bind "Ctrl j" { MovePane "Down"; }
        bind "Ctrl k" { MovePane "Up"; }
        bind "Ctrl l" { MovePane "Right"; }

        // resize panes
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }

        // scroll
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }

        // manage tabs
        bind "Alt c" { NewTab; }
        bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Alt x" { CloseTab; }

        // move between tabs
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }

        // move tabs
        bind "Alt h" { MoveTab "Left"; }
        bind "Alt l" { MoveTab "Right"; }
    }
    shared_except "normal" {
        bind "Enter" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    session-manager location="zellij:session-manager"
    compact-bar location="zellij:compact-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    configuration locatio="zellij:configuration"
}
