default_shell "fish"
default_layout "compact"

scroll_buffer_size 10000
scrollback_editor "/opt/homebrew/bin/vim"

copy_on_select true
copy_command "pbcopy"

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}

theme "tokyo-night-storm"
simplified_ui true

keybinds clear-defaults=true {
    normal {
        bind "Ctrl z" { SwitchToMode "Session"; }
    }
    session {
        // session
        bind "d" { Detach; }
        bind "q" { Quit; }
        bind "m" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }

        // manage panes
        bind "n" { NewPane; }
        bind "s" { NewPane "Down"; }
        bind "v" { NewPane "Right"; }
        bind "x" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }

        // move between panes
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }

        // move panes
        bind "Ctrl h" { MovePane "Left"; }
        bind "Ctrl j" { MovePane "Down"; }
        bind "Ctrl k" { MovePane "Up"; }
        bind "Ctrl l" { MovePane "Right"; }

        // resize panes
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }

        // scroll
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl e" { EditScrollback; SwitchToMode "Normal"; }

        // manage tabs
        bind "Alt n" { NewTab; }
        bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Alt x" { CloseTab; }

        // move between tab
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }

        // move tabs
        bind "Alt h" { MoveTab "Left"; }
        bind "Alt l" { MoveTab "Right"; }
    }
    shared_except "normal" {
        bind "Enter" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    session-manager location="zellij:session-manager"
}
